* {
  margin:0; padding:0;
}

body{
  height: auto;
  width: auto;
}



section{
  height:100vh ;

  background-size: cover;
  background-position: center center;
  
}

.top{
  background-image: url(./img/cupcake.jpg);
  text-align: center;
  padding-top: 10vh;
}

.title{
  font-family: 'Lobster', cursive;
  font-size: 7rem;
 
  margin-bottom: 3.5rem;
  color: rgb(235, 101, 12);
  position: relative;
  top: 1rem;
}

.text{
  font-weight: 5rem;
  font-size: 2.5rem;
  color:rgba(255, 255, 255, 0.9);

}


.menu{
  background-image: url(./img/cake.jpg);
  text-align: center;
  padding-top: 20vh;
}

.list{
  font-weight: 10rem;
  font-size: 2.5rem;
  color: rgb(0, 0, 0, 0.9);
  list-style: none;
}


.contact{
  background-image: url(./img/coffie.jpg);
  text-align: center;
  padding-top: 20vh;
  display: block;
}

.Form-Item{
  margin-bottom: 1rem;
}




.Form-Item-Input{
  border-radius:20px;
  line-height: 2rem;
  font-size: 2rem;
}

.Form-Item-Textarea{
  border-radius:20px;
  line-height: 1.5rem;
    font-size: 1.5rem;

}

.copylite{
float: right;
color: darkgrey;
margin-bottom: 4rem;
}


#sns {
  margin: 0 auto;
  list-style-type: none; 
}

#sns > li {
float: right;
}


.btn-social-flat { 
  color: #484848;
  display: inline-block;
  height: 50px;
  font-size: 25px;
  line-height: 50px;
  background: #eaeef1;
  text-decoration: none;
  margin: 0.5em;
  
}

.btn-social-flat-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  color: white;
}
.btn-social-flat-icon i {
  font-size: 25px;
  line-height: 50px;
  transition: .3s;
}


.btn-social-flat-icon--twitter {
  background:#1da1f3;
}
.btn-social-flat-icon--facebook {
  background:#3b75d4;
}

.btn-social-flat:hover .btn-social-flat-icon i {
  -webkit-transform: rotateX(360deg);
  transform: rotateX(360deg);
}